@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
}
#header {
    top: 0;
    display: flex;
    background-color: #0F1440;
    align-content: center;
    align-items: center;
    width: 100%;
}
#header #logo {
    margin: 20px 80px;
}
#header #nav-bar {
    margin-left: 35%;
}
#nav-bar .bnt button {
    color: white;
    height: 45px;
    width: 170px;
    border: 1px solid white;
    background-color: #0F1440;
    border-radius: 40px;
    margin-left: 20px;
    font-weight: bold;
}
#nav-bar .bnt #create-acc:hover {
    color: #0F1440;
    background-color: white;
}
#nav-bar .bnt #sign-in {
    color: #0F1440;
    background-color: white;
}
#header #lang-bar {
    position: absolute;
    margin-left: 92%;
}
#sign-up {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sign-up h3:first-child {
    height: 59px;
    text-align: center;
    text-transform: capitalize;
    font-family: Calibri;
    font-size: 50px;
    margin-top: 40px;
}
#sign-up #form {
    margin: 30px;
}
#sign-up #form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0F1440;
}
::-webkit-input-placeholder {
 color: #0F1440;
}
#sign-up #form-area .form-input {
    width: 550px;
    height: 50px;
    margin: 10px 0;
    background: #FFFFFF;
    border: 1px solid #0F1440;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    text-decoration-color: #0F1440;
 //color: white;
    padding: 15px;
}
.eye-passwork {
    position: absolute;
    margin-top: 94px;
    margin-left: 240px;
}
.eye-passwork-confirm {
    position: absolute;
    margin-top: 162px;
    margin-left: 240px;
}
#dropdown{
    position: absolute;
    top : 275px;
    left: 900px;

}
#sign-up #note {
    width: 545px;
    height: 120px;
    background: #FFF3E8;
    border: 1px solid #F2994A;
    box-sizing: border-box;
    margin: 10px 0;
}
#note p {
    width: 90%;
    height: 65px;
    text-align: left;
    margin-left: 40px;
    font-size: 16px;
    line-height: normal;
    text-transform: capitalize;
    color: #0F1440;
}
#note h4 {
    width: 90%;
    height: 22px;
    margin: 10px 40px;
    font-size: 18px;
 //line-height: normal;
    text-transform: capitalize;
    color: #F2994A;
}
#form #signUp-btn {
    width: 35%;
    height: 45px;
 //margin-left: 10px;
    background: #0F1440;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
#privacy {
    position: flex;
    flex-direction: row;
    width: 90%;
}
#privacy #checkBox {
    width: 20.94px;
    height: 19.81px;
    margin-top: 20px;
 //margin-left: 10px;
}
#privacy p {
    width: 490px;
    margin-left: 30px;
    margin-top: -27px;
    font-family: Calibri;
    font-size: 18px;
    line-height: normal;
    text-transform: capitalize;
}
#log-in {
    width: 552px;
    height: 50px;
    background: rgba(23, 193, 206, 0.8);
    margin: 30px 0;
}
#log-in h4 {
    font-family: Calibri;
    font-size: 20px;
    line-height: normal;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 220px;
    height: 25px;
    left: 50px;
    top: 10px;
    position: relative;
}
#log-in #bnt-login {
    position: absolute;
    margin-left: 380px;
    margin-top: -18px;
    width: 7%;
    height: 32px;
    font-family: Calibri;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: capitalize;
}
#sign-in-with {
    position: flex;
    flex-direction: column;
    width: 1000px;
    height: 100px;
    margin-top: -30px;
    margin-left: 10px;
}
#sign-in-with h4:first-child {
    margin-left: 215px;
    width: 50%;
    height: 22px;
    font-family: Calibri;
    font-size: 18px;
    line-height: normal;
    color: #0F1440;
    text-align: left;
}
#sign-in-with #logo-link {
    margin-left: 215px;
    width: 50%;
}
#forgot {
    position: absolute;
    width: 199px;
    height: 22px;
    left: 743px;
    top: 410px;
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    line-height: 22px;/* identical to box height */
    text-align: center;
}
#forgot p {
    padding: 5px;
    color: #F2994A;
    border-bottom: 1px solid #F2994A;
}
